<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/c/60c2c7/1w;lato,821f5854e5bb76cc2d1fa37754dff295047e4beff025e5f1b99ca04df83a3333,c0s:W:i4,c0y:W:i7,c12:W:i9,c0r:W:n4,c0x:W:n7,c11:W:n9/l" media="all">
    {{ javascripts }}
    {{ stylesheets }}
  </head>
  <body data-type="book">
    <div id="header">
      <div class="container">
        Jak otevírat data ve školách
      </div>
    </div>
    <div class="container">
      {{ toc }}
      {{ content }}
    </div>
  </body>
</html>
